In [16]:
# Dependencies
import pandas as pd
import os
import numpy as np
import io

# load in School Data 
csv_path = os.path.join('raw_data', 'schools_complete.csv')
schools = pd.read_csv(csv_path)

# load in Student Data
csv_path = os.path.join('raw_data', 'students_complete.csv')
students = pd.read_csv(csv_path)

# Join Schools and Students (should be 1 to many)
school_student_pd = pd.merge(schools, students, how='inner', left_on="name", right_on="school",
         left_index=False, right_index=False, sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate='1:m')
print("school_student_pd")
print(school_student_pd)

unique_schools = pd.Series(school_student_pd["School ID"]).unique()

total_schools = len(unique_schools)

unique_students = pd.Series(school_student_pd["Student ID"]).unique()
total_students = len(unique_students)


# Join Students and Schools (should be many to 1)   
student_school_pd = pd.merge(students, schools, how='inner', left_on="school", right_on="name",
         left_index=True, right_index=True, sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate='m:1')
print("student_school_pd")
print(student_school_pd)
# Sum Budget
total_budget = student_school_pd["budget"].sum()

# Average Math Score
average_math_scores = students["math_score"].mean()

# Average Reading Score
average_reading_scores = students["reading_score"].mean()

# % Passing Math
passing_math = students.loc[students["math_score"] > 69].count()["Student ID"]
percent_passing_math = (passing_math/total_students) * 100

# % Passing Reading 
passing_reading = students.loc[students["reading_score"] > 69].count()["Student ID"]
percent_passing_reading = (passing_reading/total_students) * 100

# Overall Passing Rate: average of passing math and passing reading pcts
overall_passing_rate = (percent_passing_math + percent_passing_reading) /2

# Create a new table consolidating above calculations
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                                 "Total Students": [total_students],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_scores],
                                 "Average Reading Score": [average_reading_scores],
                                 "% Passing Math":[percent_passing_math],
                                 "% Passing Reading":[percent_passing_reading],
                                 "% Overall Passing Rate": [overall_passing_rate],
                                   })

district_summary["Total Budget"] = district_summary["Total Budget"].map("${0:,.2f}".format)
col_list = ['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score','% Passing Math', '% Passing Reading', '% Overall Passing Rate']
district_summary = district_summary[col_list]
  
writer = pd.ExcelWriter('district_summary.xlsx')
district_summary.to_excel(writer,'Sheet1')
district_summary

school_student_pd
       School ID              name_x      type  size   budget  Student ID  \
0              0   Huang High School  District  2917  1910635           0
1              0   Huang High School  District  2917  1910635           1
2              0   Huang High School  District  2917  1910635           2
3              0   Huang High School  District  2917  1910635           3
4              0   Huang High School  District  2917  1910635           4
5              0   Huang High School  District  2917  1910635           5
6              0   Huang High School  District  2917  1910635           6
7              0   Huang High School  District  2917  1910635           7
8              0   Huang High School  District  2917  1910635           8
9              0   Huang High School  District  2917  1910635           9
10             0   Huang High School  District  2917  1910635          10
11             0   Huang High School  District  2917  1910635          11
12             0   Huang High School  District  2917  1910635          12
13             0   Huang High School  District  2917  1910635          13
14             0   Huang High School  District  2917  1910635          14
15             0   Huang High School  District  2917  1910635          15
16             0   Huang High School  District  2917  1910635          16
17             0   Huang High School  District  2917  1910635          17
18             0   Huang High School  District  2917  1910635          18
19             0   Huang High School  District  2917  1910635          19
20             0   Huang High School  District  2917  1910635          20
21             0   Huang High School  District  2917  1910635          21
22             0   Huang High School  District  2917  1910635          22
23             0   Huang High School  District  2917  1910635          23
24             0   Huang High School  District  2917  1910635          24
25             0   Huang High School  District  2917  1910635          25
26             0   Huang High School  District  2917  1910635          26
27             0   Huang High School  District  2917  1910635          27
28             0   Huang High School  District  2917  1910635          28
29             0   Huang High School  District  2917  1910635          29
...          ...                 ...       ...   ...      ...         ...
39140         14  Thomas High School   Charter  1635  1043130       39140
39141         14  Thomas High School   Charter  1635  1043130       39141
39142         14  Thomas High School   Charter  1635  1043130       39142
39143         14  Thomas High School   Charter  1635  1043130       39143
39144         14  Thomas High School   Charter  1635  1043130       39144
39145         14  Thomas High School   Charter  1635  1043130       39145
39146         14  Thomas High School   Charter  1635  1043130       39146
39147         14  Thomas High School   Charter  1635  1043130       39147
39148         14  Thomas High School   Charter  1635  1043130       39148
39149         14  Thomas High School   Charter  1635  1043130       39149
39150         14  Thomas High School   Charter  1635  1043130       39150
39151         14  Thomas High School   Charter  1635  1043130       39151
39152         14  Thomas High School   Charter  1635  1043130       39152
39153         14  Thomas High School   Charter  1635  1043130       39153
39154         14  Thomas High School   Charter  1635  1043130       39154
39155         14  Thomas High School   Charter  1635  1043130       39155
39156         14  Thomas High School   Charter  1635  1043130       39156
39157         14  Thomas High School   Charter  1635  1043130       39157
39158         14  Thomas High School   Charter  1635  1043130       39158
39159         14  Thomas High School   Charter  1635  1043130       39159
39160         14  Thomas High School   Charter  1635  1043130       39160
39161         14  Thomas High School   Charter  1635  1043130       39161
39162         14  Thomas High School   Charter  1635  1043130       39162
39163         14  Thomas High School   Charter  1635  1043130       39163
39164         14  Thomas High School   Charter  1635  1043130       39164
39165         14  Thomas High School   Charter  1635  1043130       39165
39166         14  Thomas High School   Charter  1635  1043130       39166
39167         14  Thomas High School   Charter  1635  1043130       39167
39168         14  Thomas High School   Charter  1635  1043130       39168
39169         14  Thomas High School   Charter  1635  1043130       39169

                    name_y gender grade              school  reading_score  \
0             Paul Bradley      M   9th   Huang High School             66
1             Victor Smith      M  12th   Huang High School             94
2          Kevin Rodriguez      M  12th   Huang High School             90
3        Dr. Richard Scott      M  12th   Huang High School             67
4               Bonnie Ray      F   9th   Huang High School             97
5            Bryan Miranda      M   9th   Huang High School             94
6            Sheena Carter      F  11th   Huang High School             82
7             Nicole Baker      F  12th   Huang High School             96
8             Michael Roth      M  10th   Huang High School             95
9           Matthew Greene      M  10th   Huang High School             96
10        Andrew Alexander      M  10th   Huang High School             90
11           Daniel Cooper      M  10th   Huang High School             78
12         Brittney Walker      F   9th   Huang High School             64
13            William Long      M   9th   Huang High School             71
14            Tammy Hebert      F  10th   Huang High School             85
15       Dr. Jordan Carson      M  11th   Huang High School             94
16           Donald Zamora      M   9th   Huang High School             88
17       Kimberly Santiago      F   9th   Huang High School             74
18           Kevin Stevens      M   9th   Huang High School             64
19            Brandi Lyons      F   9th   Huang High School             89
20              Lisa Davis      F  10th   Huang High School             91
21           Kristen Lopez      F  10th   Huang High School             90
22        Kimberly Stewart      F  11th   Huang High School             99
23      Christopher Parker      M   9th   Huang High School             81
24        Chelsea Griffith      F  11th   Huang High School             85
25            Cesar Morris      M   9th   Huang High School             92
26          Melanie Decker      F   9th   Huang High School             63
27          Tracey Oconnor      F  10th   Huang High School             80
28             Kelly James      F  11th   Huang High School             73
29            Nicole Brown      F  12th   Huang High School             90
...                    ...    ...   ...                 ...            ...
39140   Cheyenne Hernandez      F   9th  Thomas High School             76
39141    Jonathan Sullivan      M  10th  Thomas High School             86
39142  Deborah Higgins DDS      F  10th  Thomas High School             96
39143       Steven Jackson      M  11th  Thomas High School             71
39144     Cristian Webster      M  12th  Thomas High School             77
39145           Audrey Fry      F  10th  Thomas High School             94
39146      Michael Carroll      M   9th  Thomas High School             69
39147      Raymond Hawkins      M  10th  Thomas High School             88
39148   Christopher Wilson      M  10th  Thomas High School             89
39149      Glenda Fletcher      F  11th  Thomas High School             82
39150    Jennifer Hamilton      F  11th  Thomas High School             80
39151     Shannon Williams      F  10th  Thomas High School             84
39152           Lori Moore      F   9th  Thomas High School             98
39153      William Hubbard      M   9th  Thomas High School             80
39154      Bradley Johnson      M  12th  Thomas High School             91
39155          John Brooks      M  10th  Thomas High School             92
39156  Stephanie Contreras      F  11th  Thomas High School             79
39157     Kristen Gonzalez      F   9th  Thomas High School             79
39158        Kari Holloway      F  10th  Thomas High School             87
39159     Kimberly Cabrera      F  11th  Thomas High School             85
39160         Katie Weaver      F  11th  Thomas High School             89
39161          April Reyes      F  10th  Thomas High School             70
39162          Derek Weeks      M  12th  Thomas High School             94
39163           John Reese      M  11th  Thomas High School             90
39164       Joseph Anthony      M   9th  Thomas High School             97
39165         Donna Howard      F  12th  Thomas High School             99
39166            Dawn Bell      F  10th  Thomas High School             95
39167       Rebecca Tanner      F   9th  Thomas High School             73
39168         Desiree Kidd      F  10th  Thomas High School             99
39169      Carolyn Jackson      F  11th  Thomas High School             95

       math_score
0              79
1              61
2              60
3              58
4              84
5              94
6              80
7              69
8              87
9              84
10             70
11             77
12             79
13             79
14             67
15             88
16             55
17             75
18             69
19             80
20             89
21             77
22             84
23             68
24             73
25             70
26             85
27             58
28             55
29             88
...           ...
39140          99
39141          93
39142          83
39143          93
39144          87
39145          74
39146          95
39147          81
39148          89
39149          93
39150          75
39151          73
39152          84
39153          75
39154          71
39155          98
39156          95
39157          94
39158          90
39159          72
39160          86
39161          84
39162          77
39163          75
39164          76
39165          90
39166          70
39167          84
39168          90
39169          75

[39170 rows x 12 columns]
student_school_pd
    Student ID             name_x gender grade             school  \
0            0       Paul Bradley      M   9th  Huang High School
1            1       Victor Smith      M  12th  Huang High School
2            2    Kevin Rodriguez      M  12th  Huang High School
3            3  Dr. Richard Scott      M  12th  Huang High School
4            4         Bonnie Ray      F   9th  Huang High School
5            5      Bryan Miranda      M   9th  Huang High School
6            6      Sheena Carter      F  11th  Huang High School
7            7       Nicole Baker      F  12th  Huang High School
8            8       Michael Roth      M  10th  Huang High School
9            9     Matthew Greene      M  10th  Huang High School
10          10   Andrew Alexander      M  10th  Huang High School
11          11      Daniel Cooper      M  10th  Huang High School
12          12    Brittney Walker      F   9th  Huang High School
13          13       William Long      M   9th  Huang High School
14          14       Tammy Hebert      F  10th  Huang High School

    reading_score  math_score  School ID                 name_y      type  \
0              66          79          0      Huang High School  District
1              94          61          1   Figueroa High School  District
2              90          60          2    Shelton High School   Charter
3              67          58          3  Hernandez High School  District
4              97          84          4    Griffin High School   Charter
5              94          94          5     Wilson High School   Charter
6              82          80          6    Cabrera High School   Charter
7              96          69          7     Bailey High School  District
8              95          87          8     Holden High School   Charter
9              96          84          9       Pena High School   Charter
10             90          70         10     Wright High School   Charter
11             78          77         11  Rodriguez High School  District
12             64          79         12    Johnson High School  District
13             71          79         13       Ford High School  District
14             85          67         14     Thomas High School   Charter

    size   budget
0   2917  1910635
1   2949  1884411
2   1761  1056600
3   4635  3022020
4   1468   917500
5   2283  1319574
6   1858  1081356
7   4976  3124928
8    427   248087
9    962   585858
10  1800  1049400
11  3999  2547363
12  4761  3094650
13  2739  1763916
14  1635  1043130

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [11]:
# For School Summary Begin with joined school to student dataframe 
school_student_pd = school_student_pd.rename(index=str, columns={"name_x": "school name", "name_y": "student name"})

# Insert Reading Score Passing Count Column: 1 = True and  0 = False (for % calculation later)
school_student_pd = school_student_pd.assign(rsp_count = (school_student_pd['reading_score']>69) - 0)

# Insert Math Score Passing Count Column: 1 = True and  0 = False (for % calculation later)
school_student_pd = school_student_pd.assign(msp_count = (school_student_pd['math_score']>69) - 0)
school_student_pd = school_student_pd.assign(combined_name = school_student_pd['school name'] + ":" + 
                                             school_student_pd['type'])
print(school_student_pd)
# Insert 

# Get School Counts of Students
school_counts = school_student_pd["school name"].value_counts()
print(school_counts)

# Establish groupby dataframe based on school name
grouped_by_school_name = school_student_pd.groupby(['school name'])

# School ID by School
school_id = grouped_by_school_name["School ID"].mean()

# Budget by School
total_school_budget = grouped_by_school_name["budget"].mean()

# Average Math Score by School
per_student_math_score = grouped_by_school_name["math_score"].mean()

# Average Reading Score by School
per_student_reading_score = grouped_by_school_name["reading_score"].mean()

# Passing Math Scores by School
passing_math_count = grouped_by_school_name["msp_count"].sum()

# Passing Reading Scores by School
passing_reading_count = grouped_by_school_name["rsp_count"].sum()

# Create New Summary Data Frame
schools_summary_table = pd.DataFrame({"Number of Students":school_counts,
                                      "Budget":total_school_budget,
                                     "Math Score":per_student_math_score,
                                     "Reading Score":per_student_reading_score,
                                     "Passing Math Count":passing_math_count,
                                     "Passing Reading Count":passing_reading_count,
                                     "School_ID":school_id})

# Insert Budget Spent Per Student column into Summary
schools_summary_table["Per Student Budget"] = schools_summary_table["Budget"] / schools_summary_table["Number of Students"]

# Insert % Passed Reading to Summary column into Summary
schools_summary_table["% Passing Math"] = (schools_summary_table["Passing Math Count"] / schools_summary_table["Number of Students"]) * 100

# Insert % Passed Reading to Summary column into Summary
schools_summary_table["% Passing Reading"] = (schools_summary_table["Passing Reading Count"] / schools_summary_table["Number of Students"]) * 100
schools_summary_table.head()

# Insert # Overall Passing Rate column into Summary
schools_summary_table["% Overall Passing Rate"] = (schools_summary_table["% Passing Reading"] + schools_summary_table["% Passing Math"]) / 2
print(schools_summary_table)
# Join with Schools df to pickup School Type and School Size  
schools_summary_table = pd.merge(schools_summary_table, schools, how='inner', left_on="School_ID", right_on="School ID",
                         left_index=False, right_index=False, sort=False,
                         suffixes=('_x', '_y'), copy=True, indicator=False,
                         validate='1:m')

schools_summary_table["type#"]  = ((schools_summary_table['type'] == 'District') + 1)

# Rename column names to more descri)ptive names
ss_table = schools_summary_table.rename(columns={
                                                'name': 'School Name',
                                                'type':'School Type',
                                                'Number of Students':'Total Students',
                                                'budget':'Total School Budget',
                                                'Math Score':'Average Math Score',
                                                'Reading Score':'Average Reading Score'
                                                })
# Select columns needed for the report
ss_table = ss_table[['School Name','School Type','Total Students','Total School Budget','Per Student Budget',
                      'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading',
                    '% Overall Passing Rate']]

ss_table.set_index('School Name', inplace=True)

ss_table.index.name=''

ss_table["Total School Budget"] = ss_table["Total School Budget"].map("${0:,.2f}".format)
ss_table["Per Student Budget"] = ss_table["Per Student Budget"].map("${0:,.2f}".format)
writer = pd.ExcelWriter('school_summary.xlsx')
ss_table.to_excel(writer,'Sheet1')

# Show Final School Summary
ss_table

       School ID         school name      type  size   budget  Student ID  \
0              0   Huang High School  District  2917  1910635           0
1              0   Huang High School  District  2917  1910635           1
2              0   Huang High School  District  2917  1910635           2
3              0   Huang High School  District  2917  1910635           3
4              0   Huang High School  District  2917  1910635           4
5              0   Huang High School  District  2917  1910635           5
6              0   Huang High School  District  2917  1910635           6
7              0   Huang High School  District  2917  1910635           7
8              0   Huang High School  District  2917  1910635           8
9              0   Huang High School  District  2917  1910635           9
10             0   Huang High School  District  2917  1910635          10
11             0   Huang High School  District  2917  1910635          11
12             0   Huang High School  District  2917  1910635          12
13             0   Huang High School  District  2917  1910635          13
14             0   Huang High School  District  2917  1910635          14
15             0   Huang High School  District  2917  1910635          15
16             0   Huang High School  District  2917  1910635          16
17             0   Huang High School  District  2917  1910635          17
18             0   Huang High School  District  2917  1910635          18
19             0   Huang High School  District  2917  1910635          19
20             0   Huang High School  District  2917  1910635          20
21             0   Huang High School  District  2917  1910635          21
22             0   Huang High School  District  2917  1910635          22
23             0   Huang High School  District  2917  1910635          23
24             0   Huang High School  District  2917  1910635          24
25             0   Huang High School  District  2917  1910635          25
26             0   Huang High School  District  2917  1910635          26
27             0   Huang High School  District  2917  1910635          27
28             0   Huang High School  District  2917  1910635          28
29             0   Huang High School  District  2917  1910635          29
...          ...                 ...       ...   ...      ...         ...
39140         14  Thomas High School   Charter  1635  1043130       39140
39141         14  Thomas High School   Charter  1635  1043130       39141
39142         14  Thomas High School   Charter  1635  1043130       39142
39143         14  Thomas High School   Charter  1635  1043130       39143
39144         14  Thomas High School   Charter  1635  1043130       39144
39145         14  Thomas High School   Charter  1635  1043130       39145
39146         14  Thomas High School   Charter  1635  1043130       39146
39147         14  Thomas High School   Charter  1635  1043130       39147
39148         14  Thomas High School   Charter  1635  1043130       39148
39149         14  Thomas High School   Charter  1635  1043130       39149
39150         14  Thomas High School   Charter  1635  1043130       39150
39151         14  Thomas High School   Charter  1635  1043130       39151
39152         14  Thomas High School   Charter  1635  1043130       39152
39153         14  Thomas High School   Charter  1635  1043130       39153
39154         14  Thomas High School   Charter  1635  1043130       39154
39155         14  Thomas High School   Charter  1635  1043130       39155
39156         14  Thomas High School   Charter  1635  1043130       39156
39157         14  Thomas High School   Charter  1635  1043130       39157
39158         14  Thomas High School   Charter  1635  1043130       39158
39159         14  Thomas High School   Charter  1635  1043130       39159
39160         14  Thomas High School   Charter  1635  1043130       39160
39161         14  Thomas High School   Charter  1635  1043130       39161
39162         14  Thomas High School   Charter  1635  1043130       39162
39163         14  Thomas High School   Charter  1635  1043130       39163
39164         14  Thomas High School   Charter  1635  1043130       39164
39165         14  Thomas High School   Charter  1635  1043130       39165
39166         14  Thomas High School   Charter  1635  1043130       39166
39167         14  Thomas High School   Charter  1635  1043130       39167
39168         14  Thomas High School   Charter  1635  1043130       39168
39169         14  Thomas High School   Charter  1635  1043130       39169

              student name gender grade              school  reading_score  \
0             Paul Bradley      M   9th   Huang High School             66
1             Victor Smith      M  12th   Huang High School             94
2          Kevin Rodriguez      M  12th   Huang High School             90
3        Dr. Richard Scott      M  12th   Huang High School             67
4               Bonnie Ray      F   9th   Huang High School             97
5            Bryan Miranda      M   9th   Huang High School             94
6            Sheena Carter      F  11th   Huang High School             82
7             Nicole Baker      F  12th   Huang High School             96
8             Michael Roth      M  10th   Huang High School             95
9           Matthew Greene      M  10th   Huang High School             96
10        Andrew Alexander      M  10th   Huang High School             90
11           Daniel Cooper      M  10th   Huang High School             78
12         Brittney Walker      F   9th   Huang High School             64
13            William Long      M   9th   Huang High School             71
14            Tammy Hebert      F  10th   Huang High School             85
15       Dr. Jordan Carson      M  11th   Huang High School             94
16           Donald Zamora      M   9th   Huang High School             88
17       Kimberly Santiago      F   9th   Huang High School             74
18           Kevin Stevens      M   9th   Huang High School             64
19            Brandi Lyons      F   9th   Huang High School             89
20              Lisa Davis      F  10th   Huang High School             91
21           Kristen Lopez      F  10th   Huang High School             90
22        Kimberly Stewart      F  11th   Huang High School             99
23      Christopher Parker      M   9th   Huang High School             81
24        Chelsea Griffith      F  11th   Huang High School             85
25            Cesar Morris      M   9th   Huang High School             92
26          Melanie Decker      F   9th   Huang High School             63
27          Tracey Oconnor      F  10th   Huang High School             80
28             Kelly James      F  11th   Huang High School             73
29            Nicole Brown      F  12th   Huang High School             90
...                    ...    ...   ...                 ...            ...
39140   Cheyenne Hernandez      F   9th  Thomas High School             76
39141    Jonathan Sullivan      M  10th  Thomas High School             86
39142  Deborah Higgins DDS      F  10th  Thomas High School             96
39143       Steven Jackson      M  11th  Thomas High School             71
39144     Cristian Webster      M  12th  Thomas High School             77
39145           Audrey Fry      F  10th  Thomas High School             94
39146      Michael Carroll      M   9th  Thomas High School             69
39147      Raymond Hawkins      M  10th  Thomas High School             88
39148   Christopher Wilson      M  10th  Thomas High School             89
39149      Glenda Fletcher      F  11th  Thomas High School             82
39150    Jennifer Hamilton      F  11th  Thomas High School             80
39151     Shannon Williams      F  10th  Thomas High School             84
39152           Lori Moore      F   9th  Thomas High School             98
39153      William Hubbard      M   9th  Thomas High School             80
39154      Bradley Johnson      M  12th  Thomas High School             91
39155          John Brooks      M  10th  Thomas High School             92
39156  Stephanie Contreras      F  11th  Thomas High School             79
39157     Kristen Gonzalez      F   9th  Thomas High School             79
39158        Kari Holloway      F  10th  Thomas High School             87
39159     Kimberly Cabrera      F  11th  Thomas High School             85
39160         Katie Weaver      F  11th  Thomas High School             89
39161          April Reyes      F  10th  Thomas High School             70
39162          Derek Weeks      M  12th  Thomas High School             94
39163           John Reese      M  11th  Thomas High School             90
39164       Joseph Anthony      M   9th  Thomas High School             97
39165         Donna Howard      F  12th  Thomas High School             99
39166            Dawn Bell      F  10th  Thomas High School             95
39167       Rebecca Tanner      F   9th  Thomas High School             73
39168         Desiree Kidd      F  10th  Thomas High School             99
39169      Carolyn Jackson      F  11th  Thomas High School             95

       math_score  rsp_count  msp_count               combined_name
0              79          0          1  Huang High School:District
1              61          1          0  Huang High School:District
2              60          1          0  Huang High School:District
3              58          0          0  Huang High School:District
4              84          1          1  Huang High School:District
5              94          1          1  Huang High School:District
6              80          1          1  Huang High School:District
7              69          1          0  Huang High School:District
8              87          1          1  Huang High School:District
9              84          1          1  Huang High School:District
10             70          1          1  Huang High School:District
11             77          1          1  Huang High School:District
12             79          0          1  Huang High School:District
13             79          1          1  Huang High School:District
14             67          1          0  Huang High School:District
15             88          1          1  Huang High School:District
16             55          1          0  Huang High School:District
17             75          1          1  Huang High School:District
18             69          0          0  Huang High School:District
19             80          1          1  Huang High School:District
20             89          1          1  Huang High School:District
21             77          1          1  Huang High School:District
22             84          1          1  Huang High School:District
23             68          1          0  Huang High School:District
24             73          1          1  Huang High School:District
25             70          1          1  Huang High School:District
26             85          0          1  Huang High School:District
27             58          1          0  Huang High School:District
28             55          1          0  Huang High School:District
29             88          1          1  Huang High School:District
...           ...        ...        ...                         ...
39140          99          1          1  Thomas High School:Charter
39141          93          1          1  Thomas High School:Charter
39142          83          1          1  Thomas High School:Charter
39143          93          1          1  Thomas High School:Charter
39144          87          1          1  Thomas High School:Charter
39145          74          1          1  Thomas High School:Charter
39146          95          0          1  Thomas High School:Charter
39147          81          1          1  Thomas High School:Charter
39148          89          1          1  Thomas High School:Charter
39149          93          1          1  Thomas High School:Charter
39150          75          1          1  Thomas High School:Charter
39151          73          1          1  Thomas High School:Charter
39152          84          1          1  Thomas High School:Charter
39153          75          1          1  Thomas High School:Charter
39154          71          1          1  Thomas High School:Charter
39155          98          1          1  Thomas High School:Charter
39156          95          1          1  Thomas High School:Charter
39157          94          1          1  Thomas High School:Charter
39158          90          1          1  Thomas High School:Charter
39159          72          1          1  Thomas High School:Charter
39160          86          1          1  Thomas High School:Charter
39161          84          1          1  Thomas High School:Charter
39162          77          1          1  Thomas High School:Charter
39163          75          1          1  Thomas High School:Charter
39164          76          1          1  Thomas High School:Charter
39165          90          1          1  Thomas High School:Charter
39166          70          1          1  Thomas High School:Charter
39167          84          1          1  Thomas High School:Charter
39168          90          1          1  Thomas High School:Charter
39169          75          1          1  Thomas High School:Charter

[39170 rows x 15 columns]
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school name, dtype: int64
                        Budget  Math Score  Number of Students  \
Bailey High School     3124928   77.048432                4976
Cabrera High School    1081356   83.061895                1858
Figueroa High School   1884411   76.711767                2949
Ford High School       1763916   77.102592                2739
Griffin High School     917500   83.351499                1468
Hernandez High School  3022020   77.289752                4635
Holden High School      248087   83.803279                 427
Huang High School      1910635   76.629414                2917
Johnson High School    3094650   77.072464                4761
Pena High School        585858   83.839917                 962
Rodriguez High School  2547363   76.842711                3999
Shelton High School    1056600   83.359455                1761
Thomas High School     1043130   83.418349                1635
Wilson High School     1319574   83.274201                2283
Wright High School     1049400   83.682222                1800

                       Passing Math Count  Passing Reading Count  \
Bailey High School                   3318                   4077
Cabrera High School                  1749                   1803
Figueroa High School                 1946                   2381
Ford High School                     1871                   2172
Griffin High School                  1371                   1426
Hernandez High School                3094                   3748
Holden High School                    395                    411
Huang High School                    1916                   2372
Johnson High School                  3145                   3867
Pena High School                      910                    923
Rodriguez High School                2654                   3208
Shelton High School                  1653                   1688
Thomas High School                   1525                   1591
Wilson High School                   2143                   2204
Wright High School                   1680                   1739

                       Reading Score  School_ID  Per Student Budget  \
Bailey High School         81.033963          7               628.0
Cabrera High School        83.975780          6               582.0
Figueroa High School       81.158020          1               639.0
Ford High School           80.746258         13               644.0
Griffin High School        83.816757          4               625.0
Hernandez High School      80.934412          3               652.0
Holden High School         83.814988          8               581.0
Huang High School          81.182722          0               655.0
Johnson High School        80.966394         12               650.0
Pena High School           84.044699          9               609.0
Rodriguez High School      80.744686         11               637.0
Shelton High School        83.725724          2               600.0
Thomas High School         83.848930         14               638.0
Wilson High School         83.989488          5               578.0
Wright High School         83.955000         10               583.0

                       % Passing Math  % Passing Reading  \
Bailey High School          66.680064          81.933280
Cabrera High School         94.133477          97.039828
Figueroa High School        65.988471          80.739234
Ford High School            68.309602          79.299014
Griffin High School         93.392371          97.138965
Hernandez High School       66.752967          80.862999
Holden High School          92.505855          96.252927
Huang High School           65.683922          81.316421
Johnson High School         66.057551          81.222432
Pena High School            94.594595          95.945946
Rodriguez High School       66.366592          80.220055
Shelton High School         93.867121          95.854628
Thomas High School          93.272171          97.308869
Wilson High School          93.867718          96.539641
Wright High School          93.333333          96.611111

                       % Overall Passing Rate
Bailey High School                  74.306672
Cabrera High School                 95.586652
Figueroa High School                73.363852
Ford High School                    73.804308
Griffin High School                 95.265668
Hernandez High School               73.807983
Holden High School                  94.379391
Huang High School                   73.500171
Johnson High School                 73.639992
Pena High School                    95.270270
Rodriguez High School               73.293323
Shelton High School                 94.860875
Thomas High School                  95.290520
Wilson High School                  95.203679
Wright High School                  94.972222

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

In [8]:
# Begin Top Performing Schools (By Passing Rate)
top_performing = ss_table.sort_values(['% Overall Passing Rate'],ascending=False)
writer = pd.ExcelWriter('top_performing.xlsx')
top_performing.head(5).to_excel(writer,'Sheet1')
top_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [9]:
bottom_performing = ss_table.sort_values(['% Overall Passing Rate'],ascending=True)
writer = pd.ExcelWriter('bottom_performing.xlsx')
bottom_performing.head(5).to_excel(writer,'Sheet1')
bottom_performing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [10]:
# Math Scores by Grade 
# Select each grade and calculate the average for the math scores grouped by school
grade_9_scores = students[students['grade'] == '9th'].groupby('school')['math_score'].mean()
grade_10_scores = students[students['grade'] == '10th'].groupby('school')['math_score'].mean()
grade_11_scores = students[students['grade'] == '11th'].groupby('school')['math_score'].mean()
grade_12_scores = students[students['grade'] == '12th'].groupby('school')['math_score'].mean()

# Create New Summary Data Frame
math_scores_by_grade = pd.DataFrame({
                                "9th":grade_9_scores,
                                "10th":grade_10_scores,
                                "11th":grade_11_scores,
                                "12th":grade_12_scores
                                })
# Reorder Columns in df since we want 9th to be first column
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

math_scores_by_grade.index.name=''
writer = pd.ExcelWriter('math_scores_by_grade.xlsx')
math_scores_by_grade.to_excel(writer,'Sheet1')
top_performing.head(5)
math_scores_by_grade

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [11]:
# Reading Scores by Grade 
# Select each grade and calculate the average for the math scores grouped by school
grade_9_scores = students[students['grade'] == '9th'].groupby('school')['reading_score'].mean()
grade_10_scores = students[students['grade'] == '10th'].groupby('school')['reading_score'].mean()
grade_11_scores = students[students['grade'] == '11th'].groupby('school')['reading_score'].mean()
grade_12_scores = students[students['grade'] == '12th'].groupby('school')['reading_score'].mean()

# Create New Summary Data Frame
reading_scores_by_grade = pd.DataFrame({
                                "9th":grade_9_scores,
                                "10th":grade_10_scores,
                                "11th":grade_11_scores,
                                "12th":grade_12_scores
                                })
# Reorder Columns in df since we want 9th to be first column
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

reading_scores_by_grade.index.name=''
writer = pd.ExcelWriter('reading_scores_by_grade.xlsx')
reading_scores_by_grade.to_excel(writer,'Sheet1')
reading_scores_by_grade

                             9th       10th       11th       12th

Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [12]:
# Begin Spending Range Per Student Calculations

sp_range = schools_summary_table.rename(columns={'Math Score':'Average Math Score',
                                                  'Reading Score':'Average Reading Score'})
bins = [0, 580, 620, 640, 700] 
# Set up labels to compute when bins is updated
group_labels = ['<' + str(bins[1]-1), 
                str(bins[1]) + "-" + str(bins[2]-1), 
                str(bins[2]) + "-" + str(bins[3]-1),
                str(bins[3]) + "-" + str(bins[4])]
               
# Add new column with range information based values in Per Student Budget
sp_range['Spending Ranges (Per Student)'] = pd.cut(sp_range['Per Student Budget'],
                                                     bins, labels=group_labels)
# Get needed columns 
sp_range = sp_range[['Spending Ranges (Per Student)', 
                         'Average Math Score',
                         'Average Reading Score',
                         '% Passing Math',
                         '% Passing Reading',
                         '% Overall Passing Rate'
                        ]]
# Roll up to the Grouped By Object (Spending Ranges)
sp_range = sp_range.groupby("Spending Ranges (Per Student)")
writer = pd.ExcelWriter('spending_range_per_student.xlsx')
sp_range.max().to_excel(writer,'Sheet1')

# Show Final Spending Range Summary
sp_range.max()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<579,83.274201,83.989488,93.867718,96.539641,95.203679
580-619,83.839917,84.044699,94.594595,97.039828,95.586652
620-639,83.418349,83.848930,93.392371,97.308869,95.290520
640-700,77.289752,81.182722,68.309602,81.316421,73.807983

In [13]:
# Begin Size Range Calculations

sz_range = schools_summary_table.rename(columns={'Math Score':'Average Math Score',
                                                  'Reading Score':'Average Reading Score'
                                                  })
bins = [0, 1000, 2000, 5000] 
# Set up labels to compute when bins is updated
group_labels = ['Small(<' + str(bins[1]-1) + ')', 
                'Medium (' + str(bins[1]) + "-" + str(bins[2]-1) + ')', 
                'Large (' + str(bins[2]) + "-" + str(bins[3]) + ')']

# Add new column with range information based values in Per Student Budget
sz_range['School Size'] = pd.cut(sz_range['size'], bins, labels=group_labels)

# Get needed columns 
sz_range = sz_range[['School Size', 
                         'Average Math Score',
                         'Average Reading Score',
                         '% Passing Math',
                         '% Passing Reading',
                         '% Overall Passing Rate'
                        ]]
# Roll up to the Grouped By Object (School Size)
sz_range = sz_range.groupby('School Size')
writer = pd.ExcelWriter('spending_range_per_size.xlsx')
sz_range.max().to_excel(writer,'Sheet1')
# Show Final Spending Range Summary
sz_range.max()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small(<999),83.839917,84.044699,94.594595,96.252927,95.270270
Medium (1000-1999),83.682222,83.975780,94.133477,97.308869,95.586652
Large (2000-5000),83.274201,83.989488,93.867718,96.539641,95.203679

In [15]:
# Begin School Type Range Calculations

st_range = schools_summary_table.rename(columns={'Math Score':'Average Math Score',
                                                  'Reading Score':'Average Reading Score'
                                                  })
bins = [0, 1, 2] 
# Set up labels to compute when bins is updated
group_labels = [
                'Charter', 'District'
               ]

# Add new column with range information based values in Per Student Budget
st_range['School Type'] = pd.cut(st_range['type#'], bins, labels=group_labels)

# Get needed columns 
st_range = st_range[['School Type', 
                     'Average Math Score',
                     'Average Reading Score',
                     '% Passing Math',
                     '% Passing Reading',
                     '% Overall Passing Rate'
                    ]]
# Roll up to the Grouped By Object (School Type)
st_range = st_range.groupby('School Type')
writer = pd.ExcelWriter('school_type_range.xlsx')
st_range.max().to_excel(writer,'Sheet1')
# Show Final Spending Range Summary
st_range.max()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.839917,84.044699,94.594595,97.308869,95.586652
District,77.289752,81.182722,68.309602,81.933280,74.306672